<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ychen.qasystem.mapper.AnswerMapper">

    <insert id="insertAnswer" parameterType="top.ychen.qasystem.entity.Answer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO answers(content, question_id, user_id)
        VALUES (#{content}, #{questionId}, #{userId})
    </insert>
    <resultMap id="answerMap" type="top.ychen.qasystem.entity.Answer">
        <id property="id" column="answerId"/>
        <result property="content" column="content"/>
        <result property="questionId" column="question_id"/>
        <result property="userId" column="user_id"/>
        <result property="createdAt" column="created_at"/>
        <association property="user" javaType="top.ychen.qasystem.entity.User">
            <id property="id" column="userId"/>
            <result property="username" column="username"/>
            <result property="avatar" column="avatar"/>
            <result property="createdAt" column="created_at"/>
        </association>
        <association property="question" javaType="top.ychen.qasystem.entity.Question">
            <id property="id" column="questionId"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
            <result property="userId" column="user_id"/>
            <result property="createdAt" column="created_at"/>
            <association property="user" javaType="top.ychen.qasystem.entity.User">
                <id property="id" column="userId"/>
                <result property="username" column="username"/>
                <result property="avatar" column="avatar"/>
                <result property="createdAt" column="created_at"/>
            </association>
        </association>
    </resultMap>
    <select id="findAnswerByQuestionId" resultMap="answerMap">
        SELECT u.id as userId,a.id as answerId, u.username,u.avatar, a.content, a.created_at
        FROM answers a
                 LEFT JOIN users u ON u.id = a.user_id
                 LEFT JOIN questions q ON q.id = a.question_id
        WHERE question_id = #{questionId}
    </select>
    <select id="findAnswerByUserId" resultMap="answerMap">
        SELECT u.id as userId,a.id as answerId, u.username, u.avatar, a.content, a.created_at
        FROM answers a
                 LEFT JOIN users u ON u.id = a.user_id
                 LEFT JOIN questions q ON q.id = a.question_id
        WHERE a.user_id = #{userId}
    </select>
    <select id="findAnswerByPageByQuestionId" resultMap="answerMap">
        SELECT u.id as userId,a.id as answerId, u.username,u.avatar, a.content, a.created_at
        FROM answers a
                 LEFT JOIN users u ON u.id = a.user_id
                 LEFT JOIN questions q ON q.id = a.question_id
        WHERE question_id = #{questionId}
        ORDER BY created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>