<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ychen.qasystem.mapper.QuestionMapper">
    <insert id="insertQuestion" parameterType="top.ychen.qasystem.entity.Question" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO questions(title, content, user_id)
        VALUES (#{title}, #{content}, #{userId})
    </insert>
    <select id="findAll" resultMap="questionResultMap">
        SELECT
            u.id AS userId,
            q.id AS questionId,
            u.username,u.avatar,q.title,q.content,q.created_at
        FROM questions q
        LEFT JOIN users u ON u.id = q.user_id
    </select>
    <resultMap id="questionResultMap" type="top.ychen.qasystem.entity.Question">
        <id property="id" column="questionId"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createdAt" column="created_at"/>
        <association property="user" javaType="top.ychen.qasystem.entity.User">
            <id property="id" column="userId"/>
            <result property="username" column="username"/>
            <result property="avatar" column="avatar"/>
            <result property="email" column="email"/>
            <result property="createdAt" column="created_at"/>
        </association>
        <collection property="answers" ofType="top.ychen.qasystem.entity.Answer">
            <id property="id" column="id"/>
            <result property="content" column="content"/>
            <result property="questionId" column="question_id"/>
            <result property="userId" column="user_id"/>
            <result property="createdAt" column="created_at"/>
        </collection>
    </resultMap>
    <select id="findById" resultMap="questionResultMap">
        SELECT
            u.id AS userId,
            q.id AS questionId,
            u.username,
            u.avatar,
            q.title,
            q.content,
            q.created_at
        FROM questions q
                 LEFT JOIN users u ON u.id = q.user_id
        WHERE q.id = #{id}
    </select>
    <select id="findByUserId" resultMap="questionResultMap">
        SELECT u.id AS userId,
               q.id AS questionId,
               u.username,
               u.avatar,
               q.title,
               q.content,
               q.created_at
        FROM questions q
                 LEFT JOIN users u ON u.id = q.user_id
        WHERE q.user_id = #{userId}
    </select>
    <select id="findSpecialQuestion" resultMap="questionResultMap">
        SELECT
            u.id AS userId,
            q.id AS questionId,
            u.username,u.avatar,q.title,q.content,q.created_at
        FROM questions q
                 LEFT JOIN users u ON u.id = q.user_id
        WHERE
                q.title LIKE CONCAT('%', #{keyword}, '%')
        OR q.content LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>